<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenMarket.om" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenMarket.om>
            <setting name="api_base_url" serializeAs="String">
                <value>https://smsc.openmarket.com/sms/v4/</value>
            </setting>
            <setting name="send_method_name" serializeAs="String">
                <value>mt</value>
            </setting>
            <setting name="confirm_method_name" serializeAs="String">
                <value>preview/</value>
            </setting>
            <setting name="mms_method_name" serializeAs="String">
                <value>mms/v2/send</value>
            </setting>
        </OpenMarket.om>
    </applicationSettings>
</configuration>